{% extends "base.html" %}

{% block content %}
    <form action="/play" method="POST">
        <div class="player1">
            <label for="name1"> Player's 1 Name: </label>
            <input type="text" id="name1" name="name1">
            <label for="choice1">Player's 1 Choice</label>
            <input type="text" id="choice1" name="choice1">
        </div>
        <div class="player2">
            <label for="name2"> Player's 2 Name: </label>
            <input type="text" id="name2" name="name2">
            <label for="choice2">Player's 2 Choice</label>
            <input type="text" id="choice2" name="choice2">
        </div>

        <input type="submit" value="Let's Play" class="submit">
    </form>
    <section class="play">
        <section class="main">
            {% for player in players %}
            <div>
                <p>
                    {{player.name}} chose {{player.choice}}
                </p>
            </div>
            {% endfor %}
        </section>
        <section class="games">
            {% for result in results %}
            <div>
                <p>
                    {{result}}
                </p>
            {% if result[-2] == "S" %}
                <img src={{url_for('static', filename="scissors.png")}} class="result"/>
            {% elif result[-2] == "K" %}
                <img src={{url_for('static', filename="rock.png")}} class="result"/>
            {% elif result[-2] == "R" %}
                <img src={{url_for('static', filename="paper.png")}} class="result"/>
            {% else %}    
                <img src={{url_for('static', filename="tie.png")}} class="result"/>
            {% endif %}
            </div>
            {% endfor %}
        </section>
    </section>
{% endblock %}