{% extends "base.html" %}

{% block content %}
    <form action="/play" method="POST">
        <div class="player1">
            <label for="name1"> Player's 1 Name: </label>
            <input type="text" id="name1" name="name1" required="required">
            <label for="choice1">Player's 1 Choice</label>
            <select name="choice1" id="choice1">
                <option value=" ">Choose your Weapon!</option>
                <option value="Rock">Rock</option>
                <option value="Paper">Paper</option>
                <option value="Scissors">Scissors</option>
            </select>
        </div>
        <input type="submit" value="Let's Play" class="submit">
    </form>
    <section class="play">
        <section class="main">
            {% for player in players %}
            <div>
                <p>
                    {{player.name}} chose {{player.choice}}
                </p>
            </div>
            {% endfor %}
        </section>
        <section class="games">
            {% for result in results %}
            <div>
                <p>
                    {{result}}
                </p>
            {% if result[-2] == "S" %}
                <img src={{url_for('static', filename="scissors.png")}} class="result"/>
            {% elif result[-2] == "K" %}
                <img src={{url_for('static', filename="rock.png")}} class="result"/>
            {% elif result[-2] == "R" %}
                <img src={{url_for('static', filename="paper.png")}} class="result"/>
            {% else %}    
                <img src={{url_for('static', filename="tie.png")}} class="result"/>
            {% endif %}
            </div>
            {% endfor %}
        </section>
    </section>
{% endblock %}